<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras</title>
</head>
<body>
    <h1>Compras</h1>
    <ul>
        {% for compra in compras %}
            <li>
                <a href="{% url 'detalle_compra' compra.id %}">
                    {{ compra.cliente.nombre_completo }} - {{ compra.vehiculo.modelo }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
