<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehículos</title>
</head>
<body>
    <h1>Vehículos Disponibles</h1>
    <ul>
        {% for vehiculo in vehiculos %}
            <li>
                <a href="{% url 'detalle_vehiculo' vehiculo.id %}">{{ vehiculo.modelo }}</a>
                - {{ vehiculo.fabricante.nombre }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
